// Fonts
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
/// Variables
// Colors
$color-white: #ffffff;
$color-black: #2a2a2a;
$color-grey: #a7a7a7;
$color-light-grey: #ddd;
$color-dark-grey: #565656;
$color-blue: #023e8a;
$color-blue-grey: #457b9d;
// Font-size
$font-size: 16px;
// Space
$space: 15px;
$space-s: $space * 0.5;
$space-m: $space * 1.5;
$space-l: $space * 2;
// Reset
ul {
    margin: 0;
}

// General
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: $color-black;
    font-size: $font-size;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

// Header 
header {
    width: 100%;
    nav {
        background-color: $color-blue;
        min-height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        ul {
            display: inline-block;
            li {
                display: inline-block;
                &+li {
                    padding-left: $space;
                }
                a {
                    color: $color-white;
                    padding: $space;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background: $color-blue-grey;
                    }
                    &.currentPage {
                        background: $color-blue-grey;
                    }
                }
            }
        }
    }
}

.search {
    display: inline-block;
    margin-left: $space;
    input {
        height: 28px;
        padding: $space-s;
        border: none;
        outline: 0;
        border: 2px solid $color-white;
        &:focus {
            border: 2px solid aqua;
        }
    }
}

// Example links
.example-links {
    ul {
        li {
            display: inline-block;
            padding: $space;
            &:nth-of-type(1) {
                a:hover {
                    color: $color-blue-grey;
                    font-weight: bold;
                }
            }
            &:nth-of-type(2) {
                a:active {
                    color: red;
                    font-style: italic;
                }
            }
            &:nth-of-type(3) {
                a:visited {
                    color: yellow;
                }
            }
            input {
                &:focus {
                    color: green;
                    font-size: 20px;
                }
            }
        }
    }
}

.circle-title {
    background: #231F20;
    text-align: center;
    padding: $space-l;
    h1 {
        color: #FFF;
        font-family: 'Oswald';
        font-weight: 700;
        position: relative;
        margin: 30px auto;
        text-transform: uppercase;
        width: 550px;
        &::before {
            content: '';
            background: #4A90E2;
            display: inline-block;
            width: 17px;
            height: 20px;
            border-radius: 200px 0px 0px 200px;
            -moz-border-radius: 200px 0px 0px 200px;
            -webkit-border-radius: 200px 0px 0px 200px;
            position: relative;
            left: -10px;
            border: 0px solid #4A90E2;
        }
        &::after {
            content: '';
            background: #4A90E2;
            display: inline-block;
            width: 17px;
            height: 20px;
            border-radius: 0px 200px 200px 0px;
            -moz-border-radius: 0px 200px 200px 0px;
            -webkit-border-radius: 0px 200px 200px 0px;
            position: relative;
            right: -10px;
            border: 0px solid #4A90E2;
        }
    }
}